<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
<title>about</title>
</head>

<body>
    <div class="main-content">
    {{>header}}
    
    <p1> my name is{{name}}</p1>
    </div>
    {{>footer}}
</body>
</html>